.trailers {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.trailerCard {
  position: relative;
  width: 19%;
}

.trailerCard img {
  width: 100%;
}

.trailerCard h3 {
  font-size: 2rem;
  position: absolute;
  bottom: -35%;
  left: 80%;
  color: #fff;
}

.head {
  color: #fff;
}
