.trailers {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.trailerCard {
  cursor: pointer;
  position: relative;
  width: 19%;
}

.trailerCard:hover {
  transition: box-shadow 0.3s;
  box-shadow: 1px 1px 15px 2px #0ff;
}

.trailerCard img {
  width: 100%;
}

.trailerCard h3 {
  font-size: 2em;
  position: absolute;
  bottom: -35%;
  left: 80%;
  color: #fff;
}

.head {
  color: #fff;
}
