.navBar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  align-items: center;
}

.leftSideNav {
  display: flex;
}

.brand {
  color: #fff;
  margin: 0 2rem 0 0;
  font-size: 2rem;
}

.linksNav {
  font-size: 1rem;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;

  list-style: none;
  margin: 0;
}

.linksNav a {
  text-decoration: none;
  color: #fff;
  margin-right: 4rem;
}

.rightSideNav {
  display: flex;
  width: 300px;

  justify-content: space-around;
}
