.navBar {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  background-color: #000;
  color: #e5e5e5;
  font-size: 1rem;
}

.leftSideNav {
  display: flex;
}

.brand {
  color: red;
}

.linksNav {
  width: 300px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.linksNav a {
  text-decoration: none;
}

.rightSideNav {
  display: flex;
  width: 300px;

  justify-content: space-around;
}
