.movieCard {
  cursor: pointer;
  position: relative;
}

.genre {
  margin-top: 2em;
}

.genre > span {
  color: #2e2e2e;
  padding: 0.3em;
  border-radius: 20%;
  background: #fed530;
  margin-top: 2em;
}

.name {
  font-size: 2.5em;
  color: #fff;
  /* position: absolute;
  bottom: 0.5em;
  left: 1em;
  margin-left: 0.5em; */
}

.contentOpacity {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  color: #cccccc; /* Grey text */
  width: 100%; /* Full width */
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.contentOpacity:hover {
  background: transparent;
}

.content {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.movieImg {
  width: 100%;
  height: 100%;
}

.spans {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.durationSpan {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
