.movieCard {
  cursor: pointer;
  position: relative;
}

.name {
  font-size: 2.5rem;
  position: absolute;
  bottom: 8px;
  left: 16px;
  margin-left: 0.5rem;
}

.content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  /* background: rgb(0, 0, 0); Fallback color */
  /* background: rgba(0, 0, 0, 0.5); Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
